@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", sans-serif;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Montserrat", sans-serif;
}

label {
  font-family: sans-serif;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 500;
}

/* Hero Start */
.hero {
  width: 100%;
  height: 100vh;
  /* background-image: url("./images/bilem-hotel-stok-1.jpg"); */
  /* background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
    url("./images/hero-background-1.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 30%;
  margin-bottom: 10rem;
}

.hero-wrapper {
  width: 80%;
  margin: auto;
}

.hero-wrapper nav {
  display: flex;
  padding-top: 4rem;
  align-items: center;
  justify-content: center;
}

.hero ul {
  display: flex;
  justify-content: space-between;
  margin: 0 6rem;
  align-items: center;
  width: 80%;
}

.hero ul li {
  list-style-type: none;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 300;
}

.hero ul li a {
  transition: color ease 0.5s;
}

.hero ul li a:hover {
  color: rgb(212, 212, 212);
}

.hero ul + i {
  display: none;
}

.mobile-logo {
  display: none;
}

nav select {
  background-color: #bd9b72;
  color: #fff;
  height: 2rem;
  border: none;
  outline: none;
}

.hero-content {
  height: 85%;
  display: flex;
  margin-top: 10rem;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
}

.hero-content h2 {
  font-size: 1.75rem;
  font-weight: 500;
}

.hero-content h3 {
  font-size: 5rem;
  font-weight: 500;
  text-align: center;
}

.hero-content h3 span {
  font-weight: 400;
  font-style: italic;
}

.hero-content::before {
  content: "";
  width: 4rem;
  height: 1px;
  background-color: #fff;
  transform: rotate(90deg);
  margin-bottom: 3rem;
}

.hero-content::after {
  content: "";
  width: 4rem;
  height: 1px;
  background-color: #fff;
  transform: rotate(90deg);
  margin-top: 3rem;
}

.rezervasyon-formu {
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.rezervasyon-formu form {
  position: relative;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}

.bolge,
.villa-tipi,
.giris-cikis,
.kisi-sayisi {
  color: #ac7e46;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.villa-tipi,
.giris-cikis,
.kisi-sayisi {
  margin-left: 1rem;
}

.kisi-sayisi {
  margin-right: 18rem;
}

.bolge-wrapper {
  display: flex;
  align-items: center;
  gap: 0.9rem;
}

.bolge label,
.villa-tipi label,
.giris-cikis label,
.kisi-sayisi label {
  margin-left: 3rem;
}

.form-icon {
  font-size: 2.5rem;
}
form input {
  border: 1px solid #6e6e6e;
  border-radius: 5px;
  padding: 1rem;
  outline: none;
  font-size: 1.4rem;
}

form input::placeholder {
  font-size: 1.4rem;
}

.giris-cikis-wrapper {
  display: flex;
  align-items: center;
  margin-left: -1rem;
}

.giris i,
.cikis i {
  position: absolute;
  left: 15%;
  font-size: 1.5rem;
}

.giris,
.cikis {
  display: flex;
  align-items: center;
  position: relative;
}

.giris-cikis label {
  margin-left: 22%;
}

.giris input,
.cikis input {
  padding-left: 2.5rem;
  width: 8rem;
  margin-left: 1rem;
}

.submit-button {
  position: absolute;
  right: -1.6rem;
  outline: none;
  border: none;
  border-radius: 0 25px 25px 0;
  padding: 3.85rem 7rem;
  background-color: #ef8d34;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.down-arrow {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.3rem;
  color: #fff;
}
/* Hero End */

/* Hakkımızda Start */
.hakkimizda {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
}

.hakkimizda img {
  max-width: 1210px;
  max-height: 800px;
  width: 50%;
}

.hakkimizda-wrapper {
  background-color: #fff;
  margin-left: -10rem;
  padding: 6rem;
  width: 50%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.hakkimizda-wrapper h2 {
  font-size: 1rem;
  font-weight: 400;
}

.hakkimizda-wrapper h3 {
  font-size: 5vw;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.hakkimizda-wrapper p {
  width: 75%;
}
/* Hakkımızda End */

/* Otel Odalarımız Start */
.odalarimiz {
  width: 100%;
}

.odalarimiz h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 4rem;
}

.odalarimiz h3 span {
  font-size: 5rem;
}

.odalarimiz-wrapper {
  display: flex;
  height: 40rem;
  width: 100%;
}

.oda {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 25%;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.oda p {
  position: absolute;
  bottom: 23%;
  left: -12%;
  font-size: 3rem;
  color: #fff;
  font-style: italic;
  transform: rotate(-90deg);
}

.oda-meta {
  color: #fff;
  position: absolute;
  bottom: 5%;
  left: 25%;
}

.displayNone {
  display: none;
}

.oda-meta h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.oda-meta ul {
  list-style-type: none;
}

.oda1 {
  background-image: url("./images/stok-hotel-room-1.png");
}

.oda2 {
  background-image: url("./images/stok-hotel-room-2.png");
}
.oda3 {
  background-image: url("./images/stok-hotel-room-3.jpg");
}
.oda4 {
  background-image: url("./images/stok-hotel-room-4.jpg");
}

.oda1Bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/stok-hotel-room-1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.oda2Bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/stok-hotel-room-2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.oda3Bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/stok-hotel-room-3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.oda4Bg {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/stok-hotel-room-4.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/* Otel Odalarımız End */

/* Hizmetlerimiz Start */
.hizmetlerimiz {
  width: 100%;
  padding-top: 10rem;
  margin-bottom: 10rem;
  background-image: url("./images/background.jpg");
  background-position: top;
  position: relative;
}

.hizmetlerimiz * {
  z-index: 2 !important;
  position: relative;
}

.hizmetlerimiz::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1 !important;
  background: rgba(255, 255, 255, 0.726);
}

.hizmetlerimiz h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

.hizmetlerimiz h3 span {
  font-size: 5rem;
}

.hizmetlerimiz p {
  text-align: center;
}

.hizmetlerimiz-p {
  font-size: 1rem;
  text-align: center;
  width: 43%;
  margin: auto;
  margin-bottom: 4rem;
  font-weight: 300;
}

.hizmetlerimiz-wrapper {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.upper-wrapper {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.upper-left {
  display: flex;
  gap: 1rem;
  width: 50%;
}

.upper-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.upper-left-left {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.left-1 {
  width: 365px;
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./images/stok-fitness");
  display: flex;
  font-size: 3rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}

.left-2 {
  width: 365px;
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./images/stok-photo-havuz.jpg");
  background-position: right 30%;
  background-size: cover;
  display: flex;
  font-size: 3rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}

.upper-left-right {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url("./images/stok-hamam.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  font-size: 3rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.upper-right-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/stok-beach.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  font-size: 3rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.upper-right-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/stok-teras.webp");
  background-position: center 70%;
  background-size: cover;
  display: flex;
  font-size: 3rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
}

.bottom-wrapper {
  width: 100%;
  display: flex;
  gap: 1rem;
}

.bottom-right-wrapper {
  display: flex;
  gap: 1rem;
  width: 50%;
}

.bottom-left-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bottom-left-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/stok-cocuk-havuzu.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  font-size: 3rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  height: 300px;
  text-align: center;
}

.bottom-left-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./images/stok-spa.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  font-size: 3rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50%;
  height: 300px;
}

.bottom-right-left {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/stok-meyhane.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  font-size: 3rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.bottom-right-right-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bottom-right-1 {
  width: 365px;
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./images/stok-otopark.jpg");
  display: flex;
  font-size: 3rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}

.bottom-right-2 {
  width: 365px;
  height: 300px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./images/stok-bahce.webp");
  display: flex;
  font-size: 3rem;
  font-weight: 500;
  justify-content: center;
  align-items: center;
}
/* Hizmetlerimiz End */

/* BLM Beach Start */
.blm-beach {
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 10rem;
}

.blm-beach img {
  max-width: 1210px;
  max-height: 800px;
  width: 50%;
}

.blm-beach-wrapper {
  background-color: #fff;
  margin-left: -10rem;
  padding: 6rem;
  width: 50%;
  /* height: 560px;
  width: 840px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; */
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.blm-beach-wrapper h2 {
  font-size: 1rem;
  font-weight: 400;
}

.blm-beach-wrapper h3 {
  font-size: 5vw;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.blm-beach-wrapper p {
  width: 75%;
}
/* BLM Beach End */

/* Meyhane Start */
.meyhane-wrapper {
  background-color: #fff;
  margin-left: 9rem;
  margin-bottom: -20rem;
  padding: 3rem;
  width: 40%;
  /* height: 560px;
  width: 840px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; */
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  z-index: 50;
}

.meyhane h2 {
  font-size: 1rem;
  font-weight: 400;
}

.meyhane h3 {
  font-size: 4vw;
  font-weight: 700;
  margin-bottom: 1.5rem;
}

.meyhane-img {
  background-image: url("./images/stok-meyhane.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 60%;
  width: 100%;
  height: 45rem;
  z-index: -50;
  position: relative;
  margin-bottom: 10rem;
}
/* Meyhane End */

/* Galeri Start */
.galeri {
  width: 100%;
  margin-top: 10rem;
  margin-bottom: 5rem;
  /* background-image: url("./images/galeri-bg.jpg"); */
}

/* .galeri::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1 !important;
  background: rgba(71, 71, 71, 0.726);
} */

.galeri h3 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
}

.galeri h3 span {
  font-size: 5rem;
}

.galeri-p {
  font-size: 1rem;
  text-align: center;
  width: 43%;
  margin: auto;
  margin-bottom: 4rem;
  font-weight: 300;
}

.galeri-wrapper {
  width: 100%;
  display: flex;
}

.galeri-wrapper img {
  width: 33.3333%;
}
/* Galeri End */

/* Footer Start */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer img {
  margin: auto;
}

.footer-wrapper {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
  text-align: center;
  margin-bottom: 5rem;
  width: 100%;
}

.footer-wrapper div {
  width: 200px;
}

.footer-wrapper h3 {
  font-size: 2rem;
  font-weight: 400;
}

.footer-wrapper h3 {
  margin-bottom: 2rem;
  font-style: italic;
}

.footer-wrapper p {
  margin-bottom: 0.75rem;
}
/* Footer End */

/* Responsive Start */
@media only screen and (max-width: 1850px) {
  .oda p {
    left: -24%;
  }

  .meyhane-wrapper {
    width: 50%;
  }

  .rezervasyon-formu {
    transform: scale(0.75);
    left: 3%;
    bottom: 20%;
  }
}

@media only screen and (max-width: 1560px) {
  .hero-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 1330px) {
  .oda p {
    left: -30%;
  }

  .meyhane-wrapper {
    width: 60%;
  }
}

@media only screen and (max-width: 1280px) {
  html {
    font-size: 14px;
  }

  .oda p {
    font-size: 2.5rem;
    bottom: 20%;
    left: -23%;
  }

  nav select {
    position: absolute;
    right: 0;
    top: 0;
  }

  .hero ul {
    width: 100%;
    margin: 1rem;
  }

  .rezervasyon-formu {
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 1170px) {
  .bottom-right-wrapper {
    width: auto;
  }
}

@media only screen and (max-width: 1100px) {
  .left-1,
  .left-2,
  .bottom-right-1,
  .bottom-right-2 {
    width: 292px;
    height: 240px;
  }

  .upper-left {
    width: 65%;
  }
  .upper-right {
    width: 35%;
  }

  .bottom-left-1,
  .bottom-left-2 {
    height: 50%;
  }

  .bottom-left-wrapper {
    width: 35%;
  }

  .bottom-right-wrapper {
    width: 65%;
  }

  .hakkimizda img,
  .blm-beach img {
    width: 100%;
  }

  .hakkimizda-wrapper,
  .blm-beach-wrapper {
    margin-left: -10rem;
  }

  .hakkimizda-wrapper p,
  .blm-beach-wrapper p {
    width: 100%;
  }

  nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav ul li img {
    width: 70%;
    margin: auto;
  }

  .odalarimiz-wrapper {
    flex-wrap: wrap;
  }

  .oda {
    width: 50%;
  }

  .oda p {
    left: -10%;
    bottom: 35%;
  }

  .oda-meta {
    left: 15%;
  }

  .hakkimizda,
  .blm-beach {
    width: 90%;
    flex-direction: column;
    box-shadow: rgb(17 12 46 / 15%) 10px 48px 100px 10px;
    margin: auto;
    margin-bottom: 10rem;
  }

  .hakkimizda-wrapper,
  .blm-beach-wrapper {
    margin-left: 0;
    box-shadow: none;
    width: 100%;
  }

  .hakkimizda img,
  .blm-beach img {
    width: 100%;
  }

  .rezervasyon-formu {
    transform: scale(0.6);
  }
}

@media only screen and (max-width: 1000px) {
  html {
    font-size: 12px;
  }

  .hakkimizda img,
  .blm-beach img {
    width: 100%;
  }

  .hakkimizda-wrapper,
  .blm-beach-wrapper {
    width: 100%;
  }
}

@media only screen and (max-width: 920px) {
  .hero ul {
    margin: 0 2rem;
    width: 100%;
  }

  .oda-meta {
    left: 20%;
  }

  .hizmetlerimiz-p {
    width: 60%;
  }
}

@media only screen and (max-width: 850px) {
  form input,
  .bolge-wrapper input {
    width: 100%;
  }

  .giris-cikis-wrapper,
  .kisi-sayisi {
    width: 100%;
  }

  .giris,
  .cikis {
    width: 50%;
  }

  .giris i,
  .cikis i {
    left: 9%;
  }

  .bolge-wrapper {
    width: 100%;
    gap: 0.5rem;
  }

  .bolge label,
  .villa-tipi label,
  .giris-cikis label,
  .kisi-sayisi label {
    margin-left: 0;
  }

  .giris input,
  .cikis input {
    width: 100%;
  }

  .hero ul {
    /* display: none; */

    /* Çağın Ekleme Başlangıç */
    margin: 0;
    padding: 6rem 2rem 3rem;
    width: 40%;
    background: #000;
    position: fixed;
    top: 0;
    left: -400px;
    flex-direction: column;
    gap: 20px;
    transition: 1s ease-in-out;
    z-index: 10;
  }

  .hero ul.active {
    left: 0;
  }

  .hero ul li {
    font-size: 1.4rem;
  }

  .hero ul li.logo {
    display: none;
  }

  .hero ul + i {
    cursor: pointer;
    font-size: 2.5rem;
    color: orange;
    position: fixed;
    top: 25px;
    left: 25px;
    display: block;
    z-index: 999;
  }
  /* Çağın Ekleme Bitiş */

  .mobile-logo {
    display: block;
  }

  nav select {
    position: absolute;
    right: 0%;
  }

  .left-1,
  .left-2,
  .bottom-right-1,
  .bottom-right-2 {
    width: 175.2px;
    height: 144px;
  }

  .meyhane-wrapper {
    width: 75%;
    margin-bottom: -12rem;
  }

  .oda p {
    left: -15%;
  }

  .upper-wrapper {
    flex-wrap: wrap;
  }

  .bottom-wrapper {
    flex-wrap: wrap-reverse;
  }

  .upper-left,
  .upper-right,
  .bottom-left-wrapper,
  .bottom-right-wrapper {
    width: 100%;
  }

  .upper-right,
  .bottom-left-wrapper {
    height: 35vh;
  }

  .rezervasyon-formu {
    padding: 0;
  }

  .rezervasyon-formu form {
    display: block;
    width: auto;
    padding: 1.5rem;
  }

  .kisi-sayisi {
    margin-bottom: 3rem;
  }

  .submit-button {
    left: 0;
    border-radius: 0 0 25px 25px;
    width: 100%;
    padding: 3.85rem 9rem;
  }

  .giris-cikis label {
    margin-left: 8%;
  }

  .down-arrow {
    display: none;
  }

  .villa-tipi,
  .giris-cikis,
  .kisi-sayisi {
    margin-left: 0;
    margin-top: 2rem;
  }

  .hero-content h3 {
    margin-bottom: -8rem;
  }
}

@media only screen and (max-width: 700px) {
  .hizmetlerimiz-wrapper,
  .upper-wrapper,
  .upper-left,
  .upper-left-left,
  .upper-right,
  .bottom-wrapper,
  .bottom-left-wrapper,
  .bottom-right-wrapper,
  .bottom-right-right-wrapper {
    gap: 0.5rem;
  }

  .footer-wrapper {
    gap: 0;
  }

  .oda-meta {
    left: 25%;
  }

  .meyhane-wrapper {
    margin: 0 auto -12rem;
  }

  .hizmetlerimiz-p {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  .odalarimiz-wrapper {
    height: auto;
  }

  .oda {
    width: 100%;
    height: 15rem;
  }

  .oda p {
    font-size: 2rem;
    left: -8%;
    bottom: 35%;
  }

  .oda-meta {
    left: 10%;
    bottom: 10%;
  }

  .hizmetlerimiz h3 span,
  .odalarimiz h3 span,
  .galeri h3 span {
    font-size: 5rem;
  }

  .bottom-left-1,
  .bottom-left-2,
  .bottom-right-left,
  .bottom-right-1,
  .bottom-right-2,
  .left-1,
  .left-2,
  .upper-left-right,
  .upper-right-1,
  .upper-right-2 {
    font-size: 2rem;
  }

  .footer-wrapper div {
    width: 150px;
  }
}

@media only screen and (max-width: 500px) {
  .galeri-p {
    width: 75%;
  }

  .meyhane-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (max-width: 450px) {
  .hizmetlerimiz h3 span,
  .odalarimiz h3 span,
  .galeri h3 span {
    font-size: 3rem;
  }

  .hizmetlerimiz p {
    width: 75%;
    text-align: center;
  }

  .odalarimiz h3,
  .hizmetlerimiz h3,
  .galeri h3 {
    font-size: 1rem;
  }

  .footer-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .footer-wrapper div {
    margin-bottom: 2rem;
  }

  .footer-wrapper h3 {
    margin-bottom: 1rem;
  }

  .oda-meta {
    left: 30%;
  }
}

@media only screen and (max-width: 400px) {
  nav select {
    right: 50%;
    top: 1%;
    transform: translateX(50%);
  }

  .hizmetlerimiz-wrapper,
  .upper-wrapper,
  .upper-left,
  .upper-left-left,
  .upper-right,
  .bottom-wrapper,
  .bottom-left-wrapper,
  .bottom-right-wrapper,
  .bottom-right-right-wrapper {
    gap: 0.2rem;
  }
}
/* Responsive End */

/* Yeni Galeri Başlangıç */
.wrapper-slider {
  position: relative;
  width: 95%;
  margin: 100px auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.wrapper-slider .arrow-left,
.wrapper-slider .arrow-right {
  position: absolute;
  top: 50%;
  margin-top: -25px;
  height: 50px;
  width: 50px;
  z-index: 999;
  border-radius: 50%;
  /* -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4); */
  cursor: pointer;
  left: -0px;
  background: url("https://s11.postimg.org/eqnz7iwkz/arrow_left.png") no-repeat
    center center;
  background-color: #eee;
}

.wrapper-slider .arrow-right {
  right: -0px;
  left: auto;
  background-image: url("./images/1.svg");
}

.wrapper-slider .arrow-left {
  background-image: url("./images/2.svg");
}

.wrapper-slider .arrow-left:hover,
.wrapper-slider .arrow-right:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  background-color: #f1f1f1;
  /* -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); */
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); */
}

.items {
  width: 100%;
  background-color: #fff;
  /* padding: 30px; */
  /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.5); */
  border-radius: 5px;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
}

.items .item {
  background-color: #215772;
  color: #fff;
  width: 60%;
  /* height: 200px; */
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 50px;
  /* -webkit-transform: scale(0.98); */
  /* transform: scale(0.97); */
}

.items .item img {
  width: 100%;
}

.items.active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
  cursor: grabbing;
  background-color: #f9f9f9;
}

.items.active .item {
  -webkit-transform: scale(1);
  transform: scale(1);
}

.wrapper-slider .arrow-left,
.wrapper-slider .arrow-right,
.items,
.items .item {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* Yeni Galeri End */

/* Revize Düzenlemeleri Start */
.hakkimizda-wrapper p,
.hizmetlerimiz-p,
.blm-beach-wrapper p,
.meyhane-wrapper p,
.galeri-p {
  font-size: 1.3rem;
}
/* Revize Düzenlemeleri End */
